
<div class='custom-container'>
  <%= link_to period_index_path, class: 'square' do %>
    <div class="icons">
      <%= image_tag 'period.png', class: 'icon '%>
      <%= image_tag 'book.png', class: 'icon'%>
    </div>
    <p class="b-square">Configurar periodo y editorial</p>
  <%end%>

  <%= link_to level_index_path, class: 'square' do %>
    <%= image_tag 'level.png', class: 'icon'%>
    <p class="b-square">Añadir niveles y unidades</p>
  <%end%>

  <%= link_to multiple_questions_path, class: 'square' do %>
    <%= image_tag 'question.png', class: 'icon'%>
    <p class="b-square">Preguntas opción múltiple</p>
  <%end%>

  <%= link_to comprehension_questions_path, class: 'square' do %>
    <%= image_tag 'question.png', class: 'icon'%>
    <p class="b-square">Preguntas comprensión lectora</p>
  <%end%>

  <%= link_to exams_path, class: 'square' do %>
    <%= image_tag 'question.png', class: 'icon'%>
    <p class="b-square">Exámenes</p>
  <%end%>

  <%= link_to certificates_path, class: 'square' do %>
    <%= image_tag 'question.png', class: 'icon'%>
    <p class="b-square">Constancias</p>
  <%end%>
</div>
<div class="button ">
<%= link_to 'Salir', destroy_user_session_path, method: 'delete', class: 'btn btn-outline-primary'%>
</div>
