
<div class='custom-container'>
  <%= link_to periods_path, class: 'square' do %>
    <div class="icons">
      <%= image_tag 'time.png', class: 'icon '%>
      <%= image_tag 'book2.png', class: 'icon'%>
    </div>
    <p class="b-square">Configurar periodo y editorial</p>
  <%end%>

  <%= link_to level_index_path, class: 'square' do %>
    <%= image_tag 'levels.png', class: 'icon'%>
    <p class="b-square">Añadir niveles y unidades</p>
  <%end%>

  <%= link_to multiple_questions_path, class: 'square' do %>
    <%= image_tag 'quiz.png', class: 'icon'%>
    <p class="b-square">Preguntas opción múltiple</p>
  <%end%>

  <%= link_to comprehension_questions_path, class: 'square' do %>
    <%= image_tag 'quiz.png', class: 'icon'%>
    <p class="b-square">Preguntas comprensión lectora</p>
  <%end%>

  <%= link_to exams_path, class: 'square' do %>
    <%= image_tag 'quiz2.png', class: 'icon'%>
    <p class="b-square">Exámenes</p>
  <%end%>

  <%= link_to students_path, class: 'square' do %>
    <%= image_tag 'user.png', class: 'icon'%>
    <p class="b-square">Alumnos registrados</p>
  <%end%>

  <%= link_to certificates_path, class: 'square' do %>
    <%= image_tag 'certificate.png', class: 'icon'%>
    <p class="b-square">Constancias</p>
  <%end%>
</div>
