<div class='container-fluid'>
  <h2>Preguntas opción múltiple</h2>
  <%= link_to 'Agregar pregunta', new_multiple_question_path %>
  <% @questions.each do |question| %>
    <div class='row'>
      <div class='col-9'><%= question.content %></div>
      <div class='col-3'>
        <%= link_to 'Ver', multiple_question_path(question)%>
        <%= link_to 'Editar', edit_multiple_question_path(question)%>
        <%= link_to 'Eliminar', multiple_question_path(question), method: :delete%>
      </div>
    </div>
  <% end %>
</div>
