<div class='container-fluid'>
  <div class='title'>
    <h2>Preguntas opción múltiple</h2>
    <div class='filters d-flex'>
      <%= collection_select(:editorial, :editorial_id, @editorials, :id, :name, {selected: @actual_editorial }) %>
      <div class="editorial-levels-dropdown-container">
        <%= collection_select(:level, :level_id, @actual_editorial.levels, :id, :number, {selected: @actual_editorial.levels.first }) %>
      </div>
      <%= simple_form_for @question, url: new_multiple_question_path, method: :get, html: {class: "form"} do |f| %>
        <div class="level-units-dropdown-container">
          <%= f.input :unit, collection: @actual_editorial.levels.first.units, prompt: "Selecciona unidad" %>
        </div>
        <%= f.submit "Agregar pregunta", class: 'btn btn-light add-question' %>
      <% end %>
    </div>

  </div>
  <%= render partial: 'questions', locals: { questions: @questions } %>

</div>
