<div class= 'title'>
  <h1 class='mt-3'>Pregunta <%= @question.id %></h1>
  <h2 class='mb-3'>Nivel <%= @question.unit.level.number %> Unidad <%= @question.unit.number %></h2>
</div>

<div class="content-show">
  <p>Descripción: <%= @question.content %></p>

  <div class="cont-op">
    <% @question.options.each do |option| %>
      <p class="option<%= ' correct' if option.correct %>">Opción: <%= option.content %></p>
    <% end %>
  </div>
  <a href=# class='btn btn-primary'> Editar </a>
</div>

