<div class="container-new-edit">
  <h1 class="title-ed">Guardar una nueva editorial</h1>
  <%= simple_form_for @editorial, url: {action: "create"}, html: {class: "form"} do |f| %>
    <%= f.input :id_editorial, class: 'form-control'%>
    <%= f.input :name, class: 'form-control'%>
    <br>
    <%= f.submit "Crear", class:'btn btn-outline-primary b'%>
    <br>
  <% end %>
  <%= link_to 'Regresar', period_index_path, class: 'btn btn-outline-primary'%>
  <br>
</div>

