<div class="pdf-certificate-div">
  <p> <%= @template.header %> </p>
  <h5> <%= @student.name %> </h5>
  <p> <%= @template.body %> </p>
  <p> <%= @template.footer %> </p>
  <p> Villa de Álvarez, Col. </p>
  <p> A <%= @certificate.date.day %> de <%= l(@certificate.date, format: '%B') %> del <%= @certificate.date.year %> </p>
</div>