<h1> Constancias </h1>
<div class="index-certificates-div">
  <h5> Constancias generadas </h5>
  <% if @certificates.empty? %> 
    <p> NO SE HAN GENERADO CONSTANCIAS <p>
  <% else %>
    <% @certificates.each do |certificate| %>
      <div class='row container-q border-bottom'>
        <div class='col-9 question'>
        <% student_name = Student.select("students.no_control, students.name").joins(:exams).where("exams.id = ?", certificate.exam_id).as_json %>
          Constancia: <%= student_name[0]["no_control"]%> - <%= student_name[0]["name"]%> 
        </div>
        <div class='col-3 opciones'>
          <%= link_to 'Ver', certificate_path(certificate)%>
          <%= link_to 'Eliminar', certificate_path(certificate), method: :delete %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="center-btn-div">
    <%= link_to 'Crear nueva constancia', new_certificate_path, class: "btn btn-primary mt-5" %>
  </div>
  <div>
    <h5> Plantillas para constancias </h5>
    <% if @templates.empty? %> 
      <p>NO HAY JEJE<p>
    <% else %>
      <% @templates.each do |template| %>
        <div class='row container-q border-bottom'>
          <div class='col-9 question'>
            Plantilla: <%= template.name%>
          </div>
          <div class='col-3 opciones'>
            <%= link_to 'Ver', certificate_template_path(template)%>
            <%= link_to 'Eliminar', certificate_template_path(template), method: :delete%>
          </div>
        </div>
      <%end%>
    <%end%>
    <div class="center-btn-div">
      <%= link_to 'Crear nueva plantilla', new_certificate_template_path, class: "btn btn-primary mt-5" %>
    </div>
  </div>
  <div class="center-btn-div">
    <%= link_to 'Regresar', authenticated_root_path, class: "btn btn-primary mt-5" %>
  </div>
</div>
