%h1 Certificates#index
%div
  %div
    %h5 Cerficiados generados
    %div
      - if @certificates.empty?
        %p NO HAY JEJE
        %p
      - else
        - @certificates.each do |certificate|
          .row.container-q.border-bottom
            .col-9.question
              Certificado: #{certificate.exam_id}
            .col-3.opciones
              = link_to 'Ver', certificate_path(certificate)
              = link_to 'Eliminar', certificate_path(certificate), method: :delete
      %div
        %div
          %div
            = link_to 'Crear nuevo certificado', new_certificate_path, class: "btn btn-outline-primary"
            %div
              %div
                %h5 Plantillas para certificados
                %div
                  - if @templates.empty?
                    %p NO HAY JEJE
                    %p
                  - else
                    - @templates.each do |template|
                      .row.container-q.border-bottom
                        .col-9.question
                          Plantilla: #{template.name}
                        .col-3.opciones
                          = link_to 'Ver', certificate_template_path(template)
                          = link_to 'Eliminar', certificate_template_path(template), method: :delete
                %div
                  %div
                    = link_to 'Crear nueva plantilla', new_certificate_template_path, class: "btn btn-outline-primary"
                    = link_to 'Regresar', authenticated_root_path, class: "btn btn-outline-primary"
                    %div
                      %div
