<h1>CERTIFICADO<h1>
<div>
  <p> A <%= @certificate.date %> </p>
  <p> <%= @template.header %> </p>
  <h5> <%= @student.name %> </h5>
  <p> <%= @template.body %> </p>
  <p> <%= @template.footer %> </p>
</div>
<div class="two-buttos-div">
  <%= link_to 'Regresar', certificates_path, class: 'btn btn-outline-primary'%>
  <%= link_to 'Editar', edit_certificate_path, class: 'btn btn-outline-primary'%>
</div>

