<div class="users-div">
  <h1> Usuarios Registrados </h1>
  <div class="table-responsive-lg">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% actual_users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <div class='options'>
                <% if user != current_user %>
                  <%= link_to edit_user_registration_path(user) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to users_path(user), method: :delete, data: { confirm: "Deseas eliminar al usuario #{user.name}?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Invitar a nuevo usuario', new_user_invitation_path, class: 'btn btn-primary' %>
</div>
