<h1>Nombre de la plantilla: <%= @template.name %> </h1>
<h5> Encabezado </h5>
<p><%= @template.header %></p>
<h5> Cuerpo </h5>
<p><%= @template.body %></p>
<h5> Cierre </h5>
<p><%= @template.footer %></p>
<div class="two-buttos-div">
  <%= link_to 'Regresar', certificates_path, class: 'btn btn-outline-primary'%>
  <%= link_to 'Editar', edit_certificate_template_path, class: 'btn btn-outline-primary'%>
</div>