<h1> Exámenes generados </h1>
<div class="">
  <% @exams.each do |exam| %>
    <div class='row container-q border-bottom'>
    <div class='col-9 question'>Estudiante: <%= exam.student.no_control %> Estado: </div>
    <div class='col-3 opciones'>
      <%= link_to 'Ver', exam_path(exam)%>
      <%= link_to 'Eliminar', exam_path(exam), method: :delete%>
    </div>
  </div>
  <% end %>
</div>
<h1> Generar examen </h1>
<div class="form-exam">
  <%= simple_form_for @exam, url: new_exam_path, method: :get, html: {class: "generate-exam"} do |f| %>
    <div class="exam-data">
      <h5> Periodo actual: <%= @actual_period.last.period_name %> </h5>
      <%= f.select :level_id, @actual_editorial.levels.collect { |l| [l.number, l.id] }, prompt: "Selecciona un nivel" %>
    </div>
    <div class="student-data">
      <h5> Datos del alumno: </h5>
      <div class="student-form">
        <%= f.fields_for :student do |student_attributes| %>
          <%= student_attributes.input :no_control, label: "Número de control", required: false %>
          <%= student_attributes.input :name, label: "Nombre", required: false  %>
          <%= student_attributes.input :email, label: "E-mail", required: false  %>
        <% end %>
      </div>
      <%= f.submit "Generar examen", class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
</div>
