<h1>EXAMEN</h1>
<div class= "show-exam">
  <h5>Datos del alumno</h5>
  <%= simple_form_for @exam, html: {class: "new-exam-form"}, url: {action: "create"} do |f| %>
    <%= f.input :level_id, as: :hidden, input_html: { value: @level } %>
    <%= f.input :period_id, as: :hidden, input_html: { value: @actual_period } %>
    <%= f.input :student_id, as: :hidden %>
    <%= f.fields_for :student do |student|%>
      <%= student.input :no_control, as: :hidden %>
      <%= student.input :email, as: :hidden %>
      <%= student.input :name, as: :hidden %>
    <% end%>
    <p> Número de control: <%= @exam.student.no_control %> </p>
    <p> Nombre: <%= @exam.student.name %> </p>
    <p> E-mail: <%= @exam.student.email %> </p>
    <ul class="question-content" >
      <%= f.fields_for :exam_quests do |quest| %>
        <%= quest.input :multiple_question_id, as: :hidden %>
      <% end %>
      <%= render partial: 'question', collection: @questions %>
    </ul>
    <div class="two-buttos-div">
      <%= link_to 'Regresar', exams_path, class: 'btn btn-outline-primary'%>
      <%= f.submit "Guardar", class: "btn btn-outline-primary"%>
    </div>
  <% end %>
</div>