<h1> Examen Nivel <%= @level %> </h1>
<div class="show-exam">
  <p> Fecha de creación: <%= @exam.created_at.strftime("%d - %m - %Y") %> </p>
  <p> Número de control: <%= @student.no_control %> </p>
  <p> Nombre: <%= @student.name %> </p>
  <p> E-mail: <%= @student.email %> </p>
  <ul>
    <% @questions.each do |question| %>
    <li>
      <%= question.content %>
      <div class= "question-options">
        <% MultipleQuestionOption.where(multiple_question_id: question.id).each do |option| %>
          <ul class= "option">
            <%= radio_button_tag 'correct_answ', option.id, false %>
            <%= option.content %>
          </ul>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="two-buttos-div">
    <%= link_to 'Regresar', exams_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Enviar a estudiante', student_path(@student.id), class: "btn btn-outline-primary" %>
  </div>
</div>
