.title
  %h1 Pregunta #
  %p#show Nivel X Unidad X
.content-show
  = image_tag url_for(@question.file) if @question.file.attached?
  %p
    Lectura: #{@question.lecture}
  %p
    Pregunta: #{@question.content}
  .cont-op
    - @question.options.each do |option|
      %p{:class => "option#{' correct' if option.correct}"}
        Opción: #{option.content}
  .links-op
    %a{:href => "#"} Editar
    %a{:href => "#"} Regresar
