<div class= 'title'>
  <h1>Pregunta #</h1>
  <h2 id="show">Nivel X Unidad X</h2>
</div>
<div class="row align-items-start">
  <div class="content-show col-7">
    <h3 class='mb-4'>Lectura</h3>
    <% if @question.file.attached? %>
      <%= image_tag url_for(@question.file), style: "width: 40vw; " %>
    <% else %>
      <p><%== @question.lecture %></p>
    <% end %>
    <%= link_to 'Editar', edit_comprehension_question_path, class: 'btn btn-primary mt-5'%>
  </div>

  <div class="col-5 text-center">
    <h3 class='mb-4'>Preguntas</h3>
    <% @question.multiple_questions.each do |question| %>
      <div class="row justify-content-center m-0">
        <%= link_to question.content, multiple_question_path(question) %>
      </div>
    <% end %>
    <%= link_to 'Agregar pregunta', new_multiple_question_path(comprehension_question: @question), class: 'btn btn-primary mt-5' %>
  </div>
</div>

