<div class= 'title'>
  <h1>Pregunta #</h1>
  <p id="show">Nivel X Unidad X</p>
</div>
<div class="content-show">
  <% if @question.file.attached? %>
    <%= image_tag url_for(@question.file), style: "width: 40vw; " %>
  <% else %>
    <p>Lectura: <%== @question.lecture %></p>
  <% end %>

  <%= link_to 'Agregar pregunta', new_multiple_question_path(comprehension_question: @question) %>

  <br>
  <div class="two-buttos-div">
    <%= link_to 'Regresar', comprehension_questions_path, class: 'btn btn-outline-primary'%>
    <%= link_to 'Editar', edit_comprehension_question_path, class: 'btn btn-outline-primary'%>
  </div>
  <br>
</div>

