<%# Aquí va el html de la navbar %>
<nav class="navbar navbar-light bg-light">
    <div class="logo">
        <%= link_to authenticated_root_path, class: 'link-navbar' do %>
            <%= image_tag "itcolima2.png", style: "width: 40px; height: 40px; margin-right: 10px;"%>
            <p id="navbar">Coordinación de inglés</p>
        <% end %>
    </div>
    <div class="btn-group dropleft">
        <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "user2.png", style: "width: 40px; height: 40px; margin-right: 10px;"%>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Agregar administrador', new_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'Salir', destroy_user_session_path, class: "dropdown-item"%>
        </div>
    </div>
</nav>
